body{background-color: slategrey;}
#title{text-align: center;}
#menu{width: 85%; 
margin: auto;
height: 6%;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
background-color: gainsboro;
box-shadow: 4px 4px 4px black;}
#firstContainer{background-color: white; 
width: 85%; 
margin: auto; 
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
box-shadow: 4px 4px 4px black;}
